/*
    Document   : default.css
    Created on : Apr 14, 2011, 11:52:38 AM
    Author     : Gavin Golden
    Description:
        CSS file for screen media that will control
        the appearance of most elements..
*/
html {
    height: 100%;
}
body {
    z-index: 0;
    height: 100%;
    margin: 0;

    /* fallback */
    background-color: #A5D8FF;
    /*background: url(images/linear_bg_2.png);*/
    background-repeat: repeat-x;
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(100% 100% 90deg, #ffffff, #a5D8ff 75%, #a5D8ff);
    /* Safari 4-5, Chrome 1-9 */
    /* -webkit-gradient(<type>, <point> [, <radius>]?, <point> [, <radius>]? [, <stop>]*) */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#A5D8FF)); 
    /* Safari 5.1+, Chrome 10+ */ 
    background: -webkit-linear-gradient(#ffffff, #A5D8FF);
    /* Opera 11.10+ */
    background: -o-linear-gradient(#ffffff, #A5D8FF);
}

root {
    display: block;
}
body.home {

}
body.home header {
    padding:0px;
    margin-bottom:0px;
}
.body {
    clear: both; margin-top: 0px;
    margin-left:auto;
    margin-right:auto;
    width: 800px;
    margin-bottom: 5px;
}
.body h3 {
    margin-bottom:1em;
    margin-top:2em;
}
header.cloud {
    margin-bottom:0px;
    padding:0px;
}
header.cloud h1 {
    float: left;
    clear: left;
    width: 212px;
    margin-top:10px;
    margin-bottom: 0px;
    padding:0px;
}
section.body {
    background-color: #ffffff;
}
.feedback {
    display: block;
    background-color: #fff565;
    padding:10px;
    margin-bottom:10px;
}
img.feedbackicon {
    float:left;
}
abbr.formhelp {
    font-size: 0.6em;
    color:red;
    vertical-align: text-top;
    text-decoration:underline;
}
abbr.formhelp:hover {
    cursor:help;

}
.form {
    width:442px;
}
.form h3 {
    width:442px;
}
.form_half {
    width: 221px;
    float:left;
}
.login input, .form input {
    border: 1px solid #DFDFDF;
}
.login label, .form label {
    margin-top:5px;
}
.form label, .form input {
    width:200px;
    height:1.5em;
}
.login {
    width: 350px;
}
.login h3 {
    width: 300px;
}
.login label, .login input {
    width: 300px;
    height: 1.5em;
}
nav.cloud {
    float: left;
    margin-top:5px;
    width: 568px;
}
nav.cloud ul {
    position: relative;
    list-style: none;
    display: block;
    padding:0px;
}
nav.cloud ul li{
    position:relative;
    font-size:0.9em;
    vertical-align: bottom;
    text-align: center;
    display: block;
    float:left;
    width:115px;
    line-height: 80%;
    min-height: 25px;
    text-shadow: 2px 2px 2px #aaaaaa;
}
nav.cloud ul li:first-child {
    padding-top: 60px;
    padding-bottom: 0px;
    background-repeat: no-repeat;
    background-position: 0px 35px;
    background-image: url(http://mononyk.us/kidsacademy/img/orangecircle.png);
    z-index: 9;
}
nav.cloud ul li:first-child:hover {
    padding-top: 35px;
    padding-bottom: 25px;
    background-repeat: no-repeat;
    background-position: 0px 15px;
    background-image: url(http://mononyk.us/kidsacademy/img/orangecircle.png);
    z-index: 10;
}
nav.cloud ul li:first-child + li {
    margin-left: -10px;
    padding-top:49px;
    padding-bottom:10px;
    background-repeat: no-repeat;
    background-position: 0px 35px;
    background-image: url(http://mononyk.us/kidsacademy/img/greenrectangle.png);
    z-index: 5;
}
nav.cloud ul li:first-child + li:hover {
    margin-left: -10px;
    padding-top:39px;
    padding-bottom: 20px;
    background-repeat: no-repeat;
    background-position: 0px 15px;
    background-image: url(http://mononyk.us/kidsacademy/img/greenrectangle.png);
    z-index: 10;
}
nav.cloud ul li:first-child + li + li {
    margin-left: -10px;
    padding-top:49px;
    padding-bottom: 10px;
    background-repeat: no-repeat;
    background-position: 0px 15px;
    background-image: url(http://mononyk.us/kidsacademy/img/bluetriangle.png);
    z-index: 2;
}
nav.cloud ul li:first-child + li + li:hover {
    margin-left: -10px;
    padding-top:29px;
    padding-bottom: 30px;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-image: url(http://mononyk.us/kidsacademy/img/bluetriangle.png);
    z-index: 10;
} 
nav.cloud ul li#gallery {
    padding-top: 60px;
    padding-bottom: 0px;
    margin-left:-15px;
    background-repeat: no-repeat;
    background-position: 0px 15px;
    background-image: url(http://mononyk.us/kidsacademy/img/yellowstar.png);
    z-index: 9;
}
nav.cloud ul li#gallery:hover {
    padding-top: 45px;
    padding-bottom: 15px;
    margin-left: -15px;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-image: url(http://mononyk.us/kidsacademy/img/yellowstar.png);
    z-index: 10;
}
nav.cloud ul li#contact {
    padding-top: 60px;
    padding-bottom: 0px;
    margin-left:-15px;
    background-repeat: no-repeat;
    background-position: 0px 35px;
    background-image: url(http://mononyk.us/kidsacademy/img/skybluecircle.png);
    z-index: 6;
}
nav.cloud ul li#contact:hover {
    padding-top: 40px;
    padding-bottom: 20px;
    margin-left: -15px;
    background-repeat: no-repeat;
    background-position: 0px 15px;
    background-image: url(http://mononyk.us/kidsacademy/img/skybluecircle.png);
    z-index: 10;
}
nav.cloud ul li a {
    color:white;
    text-decoration: none;
}

menu.manage_options {
    list-style: none;
}
menu.manage_options li {
    float:left;
}
ul#langselect {
padding-top:20px;
height:20px;
float:right;
color:white;
font-size:0.9em;
text-shadow: 2px 2px 2px #aaaaaa;
list-style:none;
}
ul#langselect li {
float:left;
}
ul#langselect li.flag {
margin-left:5px;
}
ul#langselect li.flag img {
vertical-align:baseline;
}
.splash {
    margin-bottom:0px !important;
}
p.signature {
    vertical-align: middle;
    width:800px;
    text-align: right;
    font-size:1em;
    color:#555555;
    font-family: 'Tangerine', serif !important;
}
p.signature a {
    color:#222222;
    text-shadow:2px 2px 2px #aaaaaa;
    font-family: 'Tangerine', serif;
    text-decoration: none;
}
p.signature a:visited {
    color:#222222;
    text-shadow:2px 2px 2px #aaaaaa;
    font-family: 'Tangerine', serif;
    
    text-decoration: none;
}
p.signature a:hover {
    color:#222222;
    text-shadow:2px 2px 2px #aaaaaa;
    font-family: 'Tangerine', serif;
    text-decoration: underline;
}
